<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB5qdBv2axaFCnAdCGyE4BHJ2RmGQCB9js</string>
	<key>GCM_SENDER_ID</key>
	<string>316184107402</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.waysApp</string>
	<key>PROJECT_ID</key>
	<string>ways-app-f4602</string>
	<key>STORAGE_BUCKET</key>
	<string>ways-app-f4602.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:316184107402:ios:6388d8e851a304e3829073</string>
</dict>
</plist>